[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
blackcellmagic = "*"

[packages]
pandas = "*"
selenium = "*"
beautifulsoup4 = "*"
requests = "*"
pymongo = "*"
ipykernel = "*"
jupyter = "*"
flask = "*"
black = "*"
requests-html = "*"
blackcellmagic = "*"
flask-pymongo = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
